body {
  font-family: 'Arima Madurai', sans-serif; 
font-size: 1.2em;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prosto One', sans-serif;
}

h2.blanco{
	color: white;
}

#mainNav {
	font-family: "Patrick Hand SC", sans-serif;
}

#mainNav .navbar-brand{
	font-family: "Patrick Hand SC", sans-serif;
	font-size: 2em;
	
}

#mainNav .navbar-nav > li.nav-item > a.nav-link{
	font-size: 1.2em;
}

header.masthead .header-content .header-content-inner p.gris{
  color: #333;
  font-family: "Lobster", cursive;
  font-size: 1.5em;
}

.boton, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-family: "Prosto One", sans-serif;
}

.fa-whatsapp{
	font-size: 1.5em;
	color:#333;
	padding-left: .5em;
}

@media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(240, 95, 64, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #333; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(240, 95, 64, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #333; }
	#mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 1.5em;
          color: #F05F40; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #f05f40; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #F05F40; } 
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
	
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
